sudo: required
language: node_js
node_js:
  - "11"
script:
  - yarn
  - yarn pack
  - ./bin/run compare --prComment \
    --gitRepository='https://github.com/ramda/ramda.git' \
    --installScript='yarn' \
    --buildScript='yarn build:es' \
    --currentBranch='CrossEye-patch-1' \
    --distPath='es' \
    --targetBranch='master'
